<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Productos</title>
</head>-->
<%- include('templates/headerFinal', {tituloweb: 'Titulo de Pagina Catalogos'}); %>


<!--<body>-->
    <h1>Estoy en la pagina de Catalogos</h1>
    <h2><%=tituloCatalogos%></h2> 

<!--
    </body>
</html>-->

<%- include('templates/footer'); %>
